<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/f/aspnetmaster/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="dotnet"  value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
	<!--
	export FrameworkPathOverride=/Library/Frameworks/Mono.framework/Versions/5.0.1/lib/mono/4.5 
	-->
  </packageSources>
</configuration>